In [9]:
%load_ext autoreload
%autoreload 2

In [195]:
%matplotlib inline
pd.set_option('display.max_columns', 500)  
pd.set_option('display.max_rows', 500)   

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import os
import sys
import time
import json
from IPython.display import display
from time import strftime, gmtime
import boto3
import re
from datetime import datetime

import sagemaker
from sagemaker import get_execution_role
from sagemaker.predictor import csv_serializer
from sagemaker.debugger import rule_configs, Rule, DebuggerHookConfig
from sagemaker.model_monitor import DataCaptureConfig, DatasetFormat, DefaultModelMonitor
from sagemaker.s3 import S3Uploader, S3Downloader

from smexperiments.experiment import Experiment
from smexperiments.trial import Trial
from smexperiments.trial_component import TrialComponent
from smexperiments.tracker import Tracker

%cd /root/predicting-coronavirus
%pip install mpu
import src.data_import as di

/root/predicting-coronavirus
Requirement already satisfied: mpu in /opt/conda/lib/python3.7/site-packages (0.23.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
sess = boto3.Session()
sm = sess.client('sagemaker')
role = sagemaker.get_execution_role()

In [15]:
!cd data/covid-19-data;git pull origin master

From https://github.com/nytimes/covid-19-data
 * branch            master     -> FETCH_HEAD
Already up to date.

In [7]:
account_id = sess.client('sts', region_name=sess.region_name).get_caller_identity()["Account"]
bucket = 'sagemaker-studio-{}-{}'.format(sess.region_name, account_id)
prefix = 'capstone2'

try:
    if sess.region_name == "us-east-1":
        sess.client('s3').create_bucket(Bucket=bucket)
    else:
        sess.client('s3').create_bucket(Bucket=bucket, 
                                        CreateBucketConfiguration={'LocationConstraint': sess.region_name})
except Exception as e:
    print("Looks like you already have a bucket of this name. That's good. Uploading the data files...")

# Return the URLs of the uploaded file, so they can be reviewed or used elsewhere
s3url = S3Uploader.upload('data/covid-19-data/us-counties.csv', 's3://{}/{}/{}'.format(bucket, prefix,'nyt'))
print(s3url)

s3://sagemaker-studio-us-east-1-752222400982/capstone2/nyt/us-counties.csv

In [238]:
nyt_df = di.extract_nyt()

In [239]:
nyt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128256 entries, 0 to 129746
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    128256 non-null  datetime64[ns]
 1   county  128256 non-null  object
 2   state   128256 non-null  object
 3   fips    128256 non-null  int64
 4   cases   128256 non-null  int64
 5   deaths  128256 non-null  int64
 6   sc      128256 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 7.8+ MB

In [13]:
airports_df = di.extract_airports()
counties_df = di.extract_geography()

In [244]:
hhi = di.extract_hhi()
edu = di.extract_edu()
sip = di.extract_sip()
pubtrans = di.extract_public_transport()
housing = di.extract_housing()
election = di.extract_election()
geo = di.extract_geography()

In [215]:
hhi = di.extract_hhi()
hhi

                       sc  fips  households  mean_hhi  median_hhi
0          Alabama:Shelby  1117       80944     71230       96481
1       Alabama:Talladega  1121       31219     40315       58110
2      Alabama:Tuscaloosa  1125       74053     54459       71000
3           Arizona:Pinal  4021      147936     59058       69864
4    California:Mendocino  6045       33794     51830       66691
..                    ...   ...         ...       ...         ...
833      California:Butte  6007       88636     51652       72948
834  California:El Dorado  6017       72774     82742      108803
835   California:Imperial  6025       41764     48984       60686
836       California:Kern  6029      273167     51579       71441
837      California:Marin  6041      104954    126373      172907

[838 rows x 5 columns]

In [251]:
big_df = pd.merge(hhi, geo, how='inner', left_on=['fips'], right_on=['fips'])
big_df = pd.merge(edu, big_df, how='inner', left_on=['fips'], right_on=['fips'])
big_df = pd.merge(housing, big_df, how='inner', left_on=['fips'], right_on=['fips'])
big_df = pd.merge(pubtrans, big_df, how='inner', left_on=['fips'], right_on=['fips'])

big_df = pd.merge(big_df, sip, how='left', left_on=['state'], right_on=['state'])

In [252]:
big_df.head()

,sc,fips,percent_commuter,sc_x,median_house_price,median_rent,percent_big_buildings,sc_y,pop_over_25,hs,ba_plus,ma_plus,pop_over_65,sc_x,households,mean_hhi,median_hhi,sc_y,state,population,area-km,SIP,lifted
0,Alabama:Shelby,1117,0.0,Alabama:Shelby,217900,1034,3.5,Alabama:Shelby,149389,19.3,26.9,13.8,33295,Alabama:Shelby,80944,71230,96481,Alabama:Shelby,Alabama,195085,2032.960,2020-04-03 00:00:00,2020-04-30 00:00:00
1,Alabama:Talladega,1121,N,Alabama:Talladega,115800,650,2.9,Alabama:Talladega,56275,34.8,9.2,5.5,14422,Alabama:Talladega,31219,40315,58110,Alabama:Talladega,Alabama,82291,1908.240,2020-04-03 00:00:00,2020-04-30 00:00:00
2,Alabama:Tuscaloosa,1125,0.2,Alabama:Tuscaloosa,173800,852,8.7,Alabama:Tuscaloosa,130662,31.2,17.7,12.2,27472,Alabama:Tuscaloosa,74053,54459,71000,Alabama:Tuscaloosa,Alabama,194656,3423.329,2020-04-03 00:00:00,2020-04-30 00:00:00
3,Arizona:Pinal,4021,0.2,Arizona:Pinal,200200,1059,1.1,Arizona:Pinal,309013,29.3,12.3,7.4,90825,Arizona:Pinal,147936,59058,69864,Arizona:Pinal,Arizona,375770,13896.870,2020-03-30 00:00:00,2020-05-15 00:00:00
4,California:Mendocino,6045,0.0,California:Mendocino,381900,1100,3.0,California:Mendocino,61385,25.3,14.9,8.8,19072,California:Mendocino,33794,51830,66691,California:Mendocino,California,87841,9081.386,2020-03-19 00:00:00,2020-05-15 00:00:00

In [247]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 827 entries, 0 to 826
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sc                     827 non-null    object
 1   fips                   827 non-null    int64
 2   percent_commuter       827 non-null    object
 3   sc_x                   827 non-null    object
 4   median_house_price     827 non-null    int64
 5   median_rent            827 non-null    int64
 6   percent_big_buildings  827 non-null    object
 7   sc_y                   827 non-null    object
 8   pop_over_25            827 non-null    int64
 9   hs                     827 non-null    float64
 10  ba_plus                827 non-null    float64
 11  ma_plus                827 non-null    float64
 12  pop_over_65            827 non-null    int64
 13  sc_x                   827 non-null    object
 14  households             827 non-null    int64
 15  mean_hhi               827 non-null    int64
 16  median_hhi             827 non-null    int64
 17  sc_y                   827 non-null    object
 18  state                  827 non-null    object
 19  population             827 non-null    int64
 20  area-km                827 non-null    float64
dtypes: float64(4), int64(9), object(8)
memory usage: 142.1+ KB

In [250]:
big_df[big_df['state'] == 'New York'].head(100)

,sc,fips,percent_commuter,sc_x,median_house_price,median_rent,percent_big_buildings,sc_y,pop_over_25,hs,ba_plus,ma_plus,pop_over_65,sc_x,households,mean_hhi,median_hhi,sc_y,state,population,area-km
14,New York:Rockland,36087,7.3,New York:Rockland,454500,1469,7.7,New York:Rockland,203545,23.5,23.2,19.3,51109,New York:Rockland,99502,89812,118960,New York:Rockland,New York,311687,449.493
15,New York:Sullivan,36105,0.8,New York:Sullivan,179900,888,1.7,New York:Sullivan,53383,35.4,12.8,9.2,14198,New York:Sullivan,28900,52274,72044,New York:Sullivan,New York,77547,2507.450
46,New York:Ulster,36111,3.9,New York:Ulster,243700,1163,3.4,New York:Ulster,130157,29.7,17.9,13.8,35125,New York:Ulster,69154,63889,88816,New York:Ulster,New York,182493,2911.756
74,New York:Madison,36053,0.3,New York:Madison,133800,760,2.2,New York:Madison,47705,30.8,13.5,13.5,13087,New York:Madison,26127,59678,74332,New York:Madison,New York,73442,1696.033
97,New York:Queens,36081,51.4,New York:Queens,577400,1588,32.2,New York:Queens,1646542,26.9,21.0,12.4,357630,New York:Queens,788110,69320,89633,New York:Queens,New York,2230722,281.097
98,New York:Westchester,36119,22.8,New York:Westchester,560800,1483,24.9,New York:Westchester,670570,19.4,23.7,25.4,165337,New York:Westchester,352498,94811,151637,New York:Westchester,New York,949113,1114.982
142,New York:Warren,36113,1.3,New York:Warren,195200,876,3.8,New York:Warren,48290,32.1,16.7,15.1,14361,New York:Warren,28007,56482,75644,New York:Warren,New York,65707,2245.396
143,New York:Wayne,36117,0.1,New York:Wayne,130600,719,3.0,New York:Wayne,64140,33.3,14.3,10.4,17292,New York:Wayne,35927,61515,79920,New York:Wayne,New York,93772,1563.903
164,New York:Bronx,36005,58.4,New York:Bronx,436100,1188,63.4,New York:Bronx,934391,27.7,13.4,7.3,183165,New York:Bronx,507370,38467,57617,New York:Bronx,New York,1385108,109.029
192,New York:Broome,36007,4.5,New York:Broome,119500,761,5.6,New York:Broome,129231,32.9,15.7,12.4,36793,New York:Broome,75539,51125,68268,New York:Broome,New York,200600,1827.926
193,New York:Dutchess,36027,6.3,New York:Dutchess,291600,1229,6.0,New York:Dutchess,206259,25.9,19.4,17.7,51573,New York:Dutchess,108071,80227,101825,New York:Dutchess,New York,297488,2060.672
264,New York:Steuben,36101,0.0,New York:Steuben,102600,658,3.4,New York:Steuben,68131,37.4,11.7,12.7,18663,New York:Steuben,40578,55569,69932,New York:Steuben,New York,98990,3601.532
312,New York:Onondaga,36067,2.7,New York:Onondaga,148800,848,9.6,New York:Onondaga,315035,26.0,19.0,16.6,78867,New York:Onondaga,185046,59883,81410,New York:Onondaga,New York,467026,2016.020
313,New York:Ontario,36069,1.0,New York:Ontario,166200,891,7.4,New York:Ontario,77970,24.1,20.6,17.2,21645,New York:Ontario,44079,62522,86163,New York:Ontario,New York,107931,1668.122
347,New York:Chemung,36015,1.8,New York:Chemung,105300,794,4.2,New York:Chemung,59628,37.2,11.7,8.8,16613,New York:Chemung,34325,53005,72849,New York:Chemung,New York,88830,1055.036
373,New York:Jefferson,36045,0.6,New York:Jefferson,145600,958,4.2,New York:Jefferson,70840,33.5,13.5,9.2,15458,New York:Jefferson,44657,53146,64940,New York:Jefferson,New York,116229,3285.632
394,New York:Albany,36001,6.1,New York:Albany,224300,993,6.7,New York:Albany,205482,23.6,20.0,22.0,52316,New York:Albany,126578,64435,87509,New York:Albany,New York,304204,1354.056
395,New York:Erie,36029,3.4,New York:Erie,160200,836,5.8,New York:Erie,649017,26.8,20.0,15.7,165216,New York:Erie,390341,56369,76265,New York:Erie,New York,919040,2700.563
442,New York:Nassau,36059,17.3,New York:Nassau,517500,1806,8.5,New York:Nassau,947754,22.9,25.2,21.1,241330,New York:Nassau,447123,116304,149295,New York:Nassau,New York,1339532,737.411
443,New York:Orange,36071,5.1,New York:Orange,282200,1243,5.0,New York:Orange,245240,29.1,18.0,12.5,53391,New York:Orange,128259,75825,99408,New York:Orange,New York,372813,2102.257
458,New York:Rensselaer,36083,2.6,New York:Rensselaer,187100,977,5.4,New York:Rensselaer,111202,29.9,19.2,12.0,26557,New York:Rensselaer,64614,71648,84541,New York:Rensselaer,New York,159429,1689.789
482,New York:Chautauqua,36013,0.2,New York:Chautauqua,86700,646,3.8,New York:Chautauqua,90314,36.0,12.0,9.7,25587,New York:Chautauqua,53429,45479,60922,New York:Chautauqua,New York,134905,2745.974
530,New York:Clinton,36019,0.2,New York:Clinton,135500,827,2.8,New York:Clinton,55312,35.6,12.7,14.2,13523,New York:Clinton,31392,56704,70808,New York:Clinton,New York,82128,2688.025
531,New York:New,36061,59.9,New York:New,1013400,1746,78.5,New York:New,1249838,13.1,32.1,29.2,268834,New York:New York,752258,85066,156633,New York:New York,New York,1585873,59.126
532,New York:Saratoga,36091,0.8,New York:Saratoga,267200,1119,4.9,New York:Saratoga,163277,23.5,23.5,18.9,40850,New York:Saratoga,94156,83765,104904,New York:Saratoga,New York,219607,2097.849
594,New York:Cattaraugus,36009,0.2,New York:Cattaraugus,86200,688,2.0,New York:Cattaraugus,53370,39.3,9.7,9.1,14641,New York:Cattaraugus,32079,48179,60778,New York:Cattaraugus,New York,80317,3388.612
595,New York:Monroe,36055,2.8,New York:Monroe,151800,919,7.2,New York:Monroe,514628,22.8,21.7,18.1,128110,New York:Monroe,301668,60222,78573,New York:Monroe,New York,744344,1702.154
596,New York:Tompkins,36109,9.3,New York:Tompkins,215800,1153,8.8,New York:Tompkins,59759,19.3,21.0,30.9,14209,New York:Tompkins,40250,57276,80857,New York:Tompkins,New York,101564,1229.334
620,New York:Oneida,36065,1.5,New York:Oneida,135100,758,5.5,New York:Oneida,160103,32.8,14.1,11.7,42555,New York:Oneida,88871,54593,70456,New York:Oneida,New York,234878,3140.176
621,New York:Oswego,36075,1.1,New York:Oswego,111400,764,3.2,New York:Oswego,80284,35.9,11.7,8.4,19449,New York:Oswego,46270,54264,72834,New York:Oswego,New York,122109,2464.761
673,New York:Niagara,36063,1.6,New York:Niagara,132700,684,5.2,New York:Niagara,151108,32.2,13.7,11.4,39813,New York:Niagara,89765,55306,74744,New York:Niagara,New York,216469,1352.904
674,New York:Putnam,36079,9.0,New York:Putnam,354800,1350,2.7,New York:Putnam,70844,25.5,22.8,18.2,17094,New York:Putnam,35425,102525,127060,New York:Putnam,New York,99710,596.504
697,New York:Livingston,36051,N,New York:Livingston,134900,807,2.3,New York:Livingston,42911,32.6,13.8,13.5,11117,New York:Livingston,23746,61609,73481,New York:Livingston,New York,65393,1636.257
698,New York:Suffolk,36103,6.4,New York:Suffolk,409400,1732,3.5,New York:Suffolk,1034154,27.4,20.0,16.9,250082,New York:Suffolk,496784,100468,126020,New York:Suffolk,New York,1493350,2362.201
728,New York:St.,36089,0.5,New York:St.,98400,685,4.3,New York:St.,71491,39.0,11.1,11.9,18468,New York:St. Lawrence,41680,49681,65780,New York:St. Lawrence,New York,111944,6942.145
745,New York:Cayuga,36011,0.6,New York:Cayuga,137500,767,4.0,New York:Cayuga,56069,35.3,12.9,8.6,14322,New York:Cayuga,30083,52376,72026,New York:Cayuga,New York,80026,1791.190
746,New York:Kings,36047,60.7,New York:Kings,759400,1433,35.8,New York:Kings,1785323,25.8,23.3,15.6,358797,New York:Kings,969317,61220,92542,New York:Kings,New York,2504700,183.412
780,New York:Richmond,36085,29.6,New York:Richmond,556000,1291,10.9,New York:Richmond,332651,30.9,21.0,13.3,77054,New York:Richmond,167441,82166,101953,New York:Richmond,New York,468730,151.179
808,New York:Schenectady,36093,4.1,New York:Schenectady,174200,972,5.7,New York:Schenectady,105753,27.5,17.3,15.6,26852,New York:Schenectady,55262,64847,80109,New York:Schenectady,New York,154727,529.694

In [205]:
hhi = di.extract_hhi()
#hhi
a = hhi[hhi['state'] == 'Virginia']
for row in hhi:
    print('{}'.format(row))

sc
fips
state
county
households
mean_hhi
median_hhi